$primary-color: #008D83;
$hover-color: #093999;
$font-stack: 'Cabin', sans-serif;
$font-headlines: 'Lobster', sans-serif;
$font-size-banner: 2rem;
$font-size-default: 22px;
$main-padding: 0.5rem;
$suppliers-width: (320px - (1.5 * $font-size-default)) / 2;
$break-medium: 720px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
}

body {
    font-family: $font-stack;
}

p {
    margin: 1rem 0;
}

.banner {
    h1 {
        font-family: $font-headlines;
        color: $primary-color;
        font-size: $font-size-banner;
        margin: 1rem 0;
        text-align: center;
    }
}

#topnav {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        li {
            flex: 1 1 auto;
            background: $primary-color;
            text-align: center;
            height: 2rem;
            :hover {
                background: $hover-color;
            }

            a {
                text-decoration: none;
                color: white;
                display: block;
                line-height: 2rem;
            }
        }
    }
}

main {
    padding: 0 0.5rem;
}

.premisesimg {
    margin: 1rem auto;
    width: 95%;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.suppliers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($suppliers-width, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    img {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: $break-medium) {

    .banner {
        display: flex;
        justify-content: space-between;

        h1 {
            margin: 0;
        }
    }

    #topnav {
        order: -1;
        ul {
            flex-flow: row nowrap;
            justify-content: left;
    
            li {
                flex: 0 0 auto;
                height: 1.5rem;
    
                a {
                    line-height: 1.5rem;
                }
            }
        }
    }

}