$primary-color: #00857c;
$gradient-color: #35a59d;
$hover-color: #093999;
$pdf-gradient-start: #525659;
$font-stack: 'Cabin', sans-serif;
$font-headlines: 'Lobster', sans-serif;
$font-size-banner: 2rem;
$font-size-default: 18px;
$font-size-medium: 22px;
$font-size-link-medium: 24px;
$suppliers-width: (300px - (2 * $font-size-default)) / 3;
$grid-menu-width: (500px - (2.5 * $font-size-default)) / 2;
$break-medium: 500px;
$break-large: 1200px;

@mixin responsiveiframe() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@mixin responsiveiframecontainer($max-width) {
    max-width: $max-width;
    margin: auto;
}

%responsiveiframewrapper {
    overflow: hidden;
    height: 0;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
    line-height: 1.5;
}

body {
    font-family: $font-stack;
}

h1,
h2,
h3,
h4 {
    margin-top: 1rem;
    font-family: $font-headlines;
}

p {
    margin: 1rem 0;
}

a:focus {
    background: red;
}

#skip-to-content {
    padding: 1em;
    position: absolute;
    top: -40px;
    left: 1em;
    z-index: 1000;
    color: white;
}
  
#skip-to-content:focus {
    position: absolute;
    top: 0;
    background: #222;
}

section,
div {
    padding: 0 0.5rem;
}

.banner {
    h1 {
        color: $primary-color;
        font-size: $font-size-banner;
        margin: 1rem 0;
        text-align: center;
    }
}

#topnav {
    ul {
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        li {
            flex: 1 1 auto;
            background: $primary-color;
            text-align: center;
            height: 2rem;
            :hover,
            :focus {
                background: $hover-color;
            }

            a {
                text-decoration: none;
                color: white;
                display: block;
                line-height: 2rem;
            }
        }
    }
}

main {
    padding: 0;
}

.premisesimg {
    margin: 1rem auto;
    // width: 95%;
    width: 100%;
    height: auto;
    display: block;

}

.suppliers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($suppliers-width, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    img {
        width: 100%;
        display: block;
    }
}

.pdf {
    height: 500px;
    margin-top: 1rem;
    object {
        width: 100%;
        height: 100%;
    }
}

.videocontainer {
    @include responsiveiframecontainer(900px);
}

.videowrapper {
    @extend %responsiveiframewrapper;
    padding-bottom: 56.25%;
    padding-top: 35px;
    max-width: 900px;
}

.videowrapper iframe {
    @include responsiveiframe();
}

.gridmenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($grid-menu-width, 1fr));
    grid-gap: 0.5rem;
    max-width: 900px;
    margin: 1rem auto;
}

.menuitem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0.25rem auto 1rem;
    }

    h2 {
        margin: 0.25rem auto;
    }

    p {
        margin: 0.25rem auto;
    }
}

#aboutus img {
    max-width: 200px;
    height: auto;
    float: left;
    margin: 0 0.5rem 0 0;
}

.mapcontainer {
    @include responsiveiframecontainer(900px);
    margin-bottom: 1rem;
}

.mapwrapper {
    @extend %responsiveiframewrapper;
    padding-bottom: 50%;
    padding-top: 20px;
    max-width: 900px;
}

.mapwrapper iframe {
    @include responsiveiframe();
}

footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;

    p,
    a {
        font-size: $font-size-default / 2;
        color: white;
    }
}

@media screen and (min-width: $break-medium) {

    %centeredtext {
        width: 100%;
        max-width: none;
        h2,
        p {
            padding: 1rem;
            max-width: 900px;
            margin: 0 auto;
        }
    }

    p {
        font-size: $font-size-medium;
    }

    .banner {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: stretch;

        h1 {
            margin: 0;
        }
    }

    #topnav {
        width: 100%;
        background-color: $primary-color;

        ul {
            justify-content: center;
            flex-flow: row nowrap;
            align-items: center;
    
            li {
                flex: 1 0 auto;
                height: 100%;
                min-width: 100px;
                max-width: 150px;
                border-radius: 10px;
                :hover {
                    border-radius: 10px;
                }
    
                a {
                    line-height: 3rem;
                    padding: 0 0.5rem;
                    color: white;
                    font-size: $font-size-link-medium;
                }
            }
        }
    }

    .intro {
        max-width: 900px;
        margin: auto;
    }

    .premisesimg {
        margin: 0 1rem 1rem 0;
        float: left;
        width: 50%;
    }

    .supplierswrapper {
        margin: 2rem 0;
    }

    #coffeeguide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        max-width: none;
        margin: 0;
    }

    .textfullwidth {
        @extend %centeredtext;
        background: linear-gradient(135deg, $primary-color 0%,$gradient-color 100%);
    }

    .pdfwrapper {
        width: 100%;
        margin: 0;
    }

    .pdf {
        max-height: 900px;
        max-width: 600px;
        margin: auto;
    }

    .makeacoffee {
        max-width: none;
        margin-top: 0;
    }

    #coffeemenu {
        max-width: 100%;
    }

    #aboutus img {
        max-width: 300px;
    }

    .contacttext {
        @extend %centeredtext;
    }

    footer {
        height: 100%;
        p,
        a {
            font-size: $font-size-medium / 2;
        }
    }

}

@media screen and (min-width: $break-large) {

}