* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 1.5;
}

body {
  font-family: "Cabin", sans-serif;
}

h2,
h3,
h4 {
  margin-top: 1rem;
  font-family: "Lobster", sans-serif;
}

p {
  margin: 1rem 0;
}

section,
div {
  padding: 0 0.5rem;
}

.banner h1 {
  font-family: "Lobster", sans-serif;
  color: #00857c;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

#topnav ul {
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#topnav ul li {
  flex: 1 1 auto;
  background: #00857c;
  text-align: center;
  height: 2rem;
}

#topnav ul li :hover {
  background: #093999;
}

#topnav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 2rem;
}

main {
  padding: 0;
}

.premisesimg {
  margin: 1rem auto;
  width: 100%;
  height: auto;
  display: block;
}

.suppliers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(97.66667px, 1fr));
  grid-gap: 0.5rem;
  align-items: center;
}

.suppliers img {
  width: 100%;
  display: block;
}

.pdf {
  height: 500px;
  margin-top: 1rem;
}

.pdf object {
  width: 100%;
  height: 100%;
}

.videocontainer {
  max-width: 900px;
  margin: auto;
}

.videowrapper {
  overflow: hidden;
<<<<<<< HEAD
  padding-top: 56.25%;
  position: relative;
=======
  padding-bottom: 56.25%;
  padding-top: 35px;
  position: relative;
  height: 0;
  max-width: 900px;
>>>>>>> 56a06b7563faf393b2b66b6e19facfad2c353294
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 22px;
  }
  .banner {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: stretch;
  }
  .banner h1 {
    margin: 0;
  }
  #topnav {
    width: 100%;
    background-color: #00857c;
  }
  #topnav ul {
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }
  #topnav ul li {
    flex: 1 0 auto;
    height: 100%;
    min-width: 100px;
    max-width: 150px;
    border-radius: 10px;
  }
  #topnav ul li :hover {
    border-radius: 10px;
  }
  #topnav ul li a {
    line-height: 3rem;
    padding: 0 0.5rem;
    color: white;
    font-size: 24px;
  }
  article,
  section {
    max-width: 900px;
    margin: auto;
  }
  .premisesimg {
    margin: 0 1rem 1rem 0;
    float: left;
    width: 50%;
  }
  .supplierswrapper {
    margin: 2rem 0;
    clear: both;
  }
  .coffeeguide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    max-width: none;
    margin: 0;
  }
  .coffeewrapper {
    width: 100%;
    background: linear-gradient(135deg, #00857c 0%, #35a59d 100%);
  }
  .coffeewrapper h2,
  .coffeewrapper p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .pdfwrapper {
    width: 100%;
    margin: 0;
  }
  .pdf {
    max-height: 900px;
    max-width: 600px;
    margin: auto;
  }
  .makeacoffee {
    max-width: none;
    margin-top: 0;
  }
  section.coffeetext {
    max-width: none;
    width: 100%;
    background: linear-gradient(135deg, #00857c 0%, #35a59d 100%);
  }
  section.coffeetext h2,
  section.coffeetext p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
