* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
}

body {
  font-family: "Cabin", sans-serif;
}

p {
  margin: 1rem 0;
}

.banner h1 {
  font-family: "Lobster", sans-serif;
  color: #008D83;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

#topnav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#topnav ul li {
  flex: 1 1 auto;
  background: #008D83;
  text-align: center;
  height: 2rem;
}

#topnav ul li :hover {
  background: #093999;
}

#topnav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 2rem;
}

main {
  padding: 0 0.5rem;
}

.premisesimg {
  margin: 1rem auto;
  width: 95%;
}

.premisesimg img {
  width: 100%;
  height: auto;
  display: block;
}

.suppliers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(143.5px, 1fr));
  grid-gap: 0.5rem;
  align-items: center;
}

.suppliers img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 720px) {
  .banner {
    display: flex;
    justify-content: space-between;
  }
  .banner h1 {
    margin: 0;
  }
  #topnav {
    order: -1;
  }
  #topnav ul {
    flex-flow: row nowrap;
    justify-content: left;
  }
  #topnav ul li {
    flex: 0 0 auto;
    height: 1.5rem;
  }
  #topnav ul li a {
    line-height: 1.5rem;
  }
}
