$primary-color: #00857c;
$hover-color: #093999;
$pdf-gradient-start: #525659;
$font-stack: 'Cabin', sans-serif;
$font-headlines: 'Lobster', sans-serif;
$font-size-banner: 2rem;
$font-size-default: 18px;
$font-size-medium: 22px;
$font-size-link-medium: 24px;
$suppliers-width: (320px - (1.5 * $font-size-default)) / 3;
$break-medium: 600px;
$break-large: 1200px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
    line-height: 1.5;
}

body {
    font-family: $font-stack;
}

h2,
h3,
h4 {
    margin-top: 1rem;
    font-family: $font-headlines;
}

p {
    margin: 1rem 0;
}

section,
div {
    padding: 0 0.5rem;
}

.banner {
    h1 {
        font-family: $font-headlines;
        color: $primary-color;
        font-size: $font-size-banner;
        margin: 1rem 0;
        text-align: center;
    }
}

#topnav {
    ul {
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        li {
            flex: 1 1 auto;
            background: $primary-color;
            text-align: center;
            height: 2rem;
            :hover {
                background: $hover-color;
            }

            a {
                text-decoration: none;
                color: white;
                display: block;
                line-height: 2rem;
            }
        }
    }
}

main {
    padding: 0;
}

.premisesimg {
    margin: 1rem auto;
    // width: 95%;
    width: 100%;
    height: auto;
    display: block;

}

.suppliers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($suppliers-width, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    img {
        width: 100%;
        display: block;
    }
}

.pdf {
    height: 500px;
    margin-top: 1rem;
    object {
        width: 100%;
        height: 100%;
    }
}

.makeacoffee {
    margin-top: 1rem;
}

.videowrapper {
    min-height: 200px;
}

iframe {
    width: 100%;
    min-height: 200px;
    border: 0;
}

@media screen and (min-width: $break-medium) {

    p {
        font-size: $font-size-medium;
    }

    .banner {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: stretch;

        h1 {
            margin: 0;
            // color: white;
        }
    }

    #topnav {
        width: 100%;
        background-color: $primary-color;

        ul {
            justify-content: center;
            flex-flow: row nowrap;
            align-items: center;
            // min-width: 450px;
    
            li {
                flex: 1 0 auto;
                height: 100%;
                min-width: 100px;
                max-width: 150px;
                // background-color: white;
                border-radius: 10px;
                :hover {
                    border-radius: 10px;
                }
                // padding: 1rem;
    
                a {
                    line-height: 3rem;
                    padding: 0 0.5rem;
                    color: white;
                    font-size: $font-size-link-medium;
                }
            }
        }
    }

    // main {
    //     max-width: 900px;
    //     margin: auto;
    // }

    article,
    section {
        max-width: 900px;
        margin: auto;
    }

    .premisesimg {
        margin: 0 1rem 1rem 0;
        float: left;
        width: 50%;
    }

    .supplierswrapper {
        margin: 2rem 0;
        clear: both;
    }

    .coffeeguide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        max-width: none;
        margin: 0;
    }

    .coffeewrapper {
        width: 100%;
        background: linear-gradient(135deg, #00857c 0%,#35a59d 100%);
        h2,
        p {
            // color: white;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .pdfwrapper {
        width: 100%;
        margin: 0;
    }

    .pdf {
        max-height: 900px;
        max-width: 600px;
        margin: auto;
    }

    .makeacoffee {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-flow: column nowrap;
        max-width: none;
        margin-top: 0;
    }

    section.coffeetext {
        // padding-top: 1rem;
        max-width: none;
        width: 100%;
        background: linear-gradient(135deg, #00857c 0%,#35a59d 100%);
        h2,
        p {
            // color: white;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .videowrapper {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

}

@media screen and (min-width: $break-large) {

    // .videowrapper {
    //     min-height: 500px;
    // }

    // iframe {
    //     min-height: 500px;
    // }
}