$primary-color: #008D83;
$hover-color: #093999;
$font-stack: 'Cabin', sans-serif;
$font-headlines: 'Lobster', sans-serif;
$font-size-banner: 2rem;
$font-size-default: 18px;
$font-size-medium: 22px;
$font-size-link-medium: 24px;
$main-padding: 0.5rem;
$suppliers-width: (320px - (1.5 * $font-size-default)) / 3;
$break-medium: 720px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
    line-height: 1.5;
}

body {
    font-family: $font-stack;
}

p {
    margin: 1rem 0;
}

.banner {
    h1 {
        font-family: $font-headlines;
        color: $primary-color;
        font-size: $font-size-banner;
        margin: 1rem 0;
        text-align: center;
    }
}

#topnav {
    ul {
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        li {
            flex: 1 1 auto;
            background: $primary-color;
            text-align: center;
            height: 2rem;
            :hover {
                background: $hover-color;
            }

            a {
                text-decoration: none;
                color: white;
                display: block;
                line-height: 2rem;
            }
        }
    }
}

main {
    padding: 0 0.5rem;
}

.premisesimg {
    margin: 1rem auto;
    width: 95%;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.suppliers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($suppliers-width, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    img {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: $break-medium) {

    p {
        font-size: $font-size-medium;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-image: $primary-color;

        h1 {
            margin: 0;
            // color: white;
        }
    }

    #topnav {
        order: -1;
        width: 450px;
        ul {
            justify-content: space-between;
            flex-flow: row nowrap;
            align-items: center;
            // min-width: 450px;
    
            li {
                flex: 1 0 auto;
                height: 100%;
                min-width: 100px;
                background-color: none;
                border-radius: 10px;
                :hover {
                    border-radius: 10px;
                }
                // padding: 1rem;
    
                a {
                    line-height: 3rem;
                    padding: 0 0.5rem;
                    // font-size: $font-size-link-medium;
                }
            }
        }
    }

    main {
        max-width: 900px;
        margin: auto;
    }

    .premisesimg {
        margin: 0 1rem 1rem;
        float: left;
        width: 50%;
    }

    .supplierswrapper {
        margin: 2rem 0;
        clear: both;
    }

}